<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Things Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="carrito.html">Carrito</a></li>
        <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-6">Things Store</h1>
    <span class="lead pl-3">Tu tienda de  en Línea</span>
  </header>

  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div class="d-flex justify-content-center mt-5 mb-5 pb-5" *ngIf="products.length===0">
            <div class="alert alert-light" role="alert">
              No hay datos que mostrar
            </div>
          </div>
          <div *ngFor="let item of products" class="col-md-3 col-lg-3">
            <div class="product-box">
              <img src="{{item.urlImage}}">
              <div class="product-information">
                <h2 class="card-text">{{item.name}}</h2>
                <div class="price">Gs. {{item.price}}</div>
                <div class="product-show">
                  <a href="#" class="primary-btn" >Ver producto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; eCommerce 2024</p>
  </div>
  <!-- /.container -->
</footer>
