<!-- Navigation -->
<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-6">Things Store</h1>
    <span class="lead pl-3">Tu tienda de  en Línea</span>
  </header>

  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div class="d-flex justify-content-center mt-5 mb-5 pb-5" *ngIf="products.length===0">
            <div class="alert alert-light" role="alert">
              No hay datos que mostrar
            </div>
          </div>
          <div *ngFor="let item of products" class="col-md-3 col-lg-3">
            <div class="product-box">
              <img src="{{item.urlImage}}">
              <div class="product-information">
                <h2 class="card-text">{{item.name}}</h2>
                <div class="price">Gs. {{item.price}}</div>
                <div class="product-show">
                  <a [routerLink]="['/product/detail', item.id]" class="primary-btn" >Ver producto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; eCommerce 2024</p>
  </div>
  <!-- /.container -->
</footer>
