<!-- Header User-->
<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3 display-6">
    Things Store
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active">Orden</li>
  </ol>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-9">
          <div >
            <div class="card">
              <div class="card-header" >
                <h5>
                  Datos de la ordén
                </h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong> Nombre: </strong> {{firstname}} {{lastname}}</li>
                  <li class="list-group-item"><strong>Correo: </strong> {{email}}</li>
                  <li class="list-group-item"><strong> Dirección: </strong> {{address}}</li>
                </ul>
<!--                 <h6><strong> Nombre: </strong> </h6>
                <h6><strong>Correo: </strong>  </h6>
                <h6><strong> Dirección: </strong></h6> -->
              </div>

            </div>

            <div >

              <div class="card-body">
                <div class="row" *ngIf="items.length===0">
                  <div class="alert alert-light" role="alert">
                    Aun no hay productos agregados al carrito. <a [routerLink]="['/']">Volver a la tienda.</a>
                 </div>
             </div>
                <table class="table" *ngIf="items.length!=0">
                  <thead>
                    <tr>
                      <th scope="col">Producto</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Total</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items">
                      <td>{{item.productName}}(Código: {{item.productId}})</td>
                      <td>{{item.price}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.getTotalPriceItem()}}</td>
                      <td><button class="btn btn-outline-danger" (click)="deleteItem(item.productId)">Quitar</button> </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-3">
          <div class="card">
            <div class="card-header">
              <h5>Resumen de la ordén</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h5> Total: </h5>
                </li>
                <a class="btn btn-dark">Pagar con Paypal</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
