 <!-- Page Content -->
 <app-header-user></app-header-user>
 <div class="container">

  <div class="card mt-4 pl-4 pr-4">
    <div class="card-header">
      <h5>Registro</h5>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="name">Nombre:</label> <input type="text"
            class="form-control" id="name" name="name"
            placeholder="Ingrese su nombre" autocomplete="off" formControlName="firstname">
        </div>

       <div class="form-group mb-3">
          <label for="surname">Apellido:</label> <input type="text"
            class="form-control" id="surname" name="surname"
            placeholder="Ingrese su Apellido" autocomplete="off" formControlName="lastname">
        </div>

        <div class="form-group mb-3">
          <label for="email">Email:</label> <input type="email"
            class="form-control" id="email" name="email"
            placeholder="Ingrese su email" autocomplete="off" formControlName="email">
        </div>

        <div class="form-group mb-3">
          <label for="address">Dirección:</label> <input type="text"
            class="form-control" id="address" name="address"
            placeholder="Ingrese su dirección" autocomplete="off" formControlName="address">
        </div>
       <div class="form-group mb-3">
          <label for="cellphone">Teléfono:</label> <input type="text"
            class="form-control" id="cellphone" name="cellphone"
            placeholder="Ingrese su teléfono" autocomplete="off" formControlName="cellphone">
        </div>

        <div class="form-group mb-4">
          <label for="password">Contraseña</label> <input type="password"
            class="form-control" id="password" name="password" placeholder="Ingrese su contraseña" autocomplete="off" formControlName="password">
        </div>
        <div class="col-2 mt-3">
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
