<div *ngIf="active">
  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-1">

      <!-- <span class="text-body-secondary">Acciones</span> -->
      <div class="list-group list-group-flush">
        <a [routerLink]="['/admin/products']" class="list-group-item list-group-item-action" aria-current="true">
          <i class="fa fa-archive" aria-hidden="true"></i> Productos
        </a>
        <a [routerLink]="['/admin/categories']" class="list-group-item list-group-item-action">
          <i class="fa fa-th-list" aria-hidden="true"></i> Categorias
        </a>
        <a [routerLink]="['/admin/orders']" class="list-group-item list-group-item-action">
          <i class="fa fa-credit-card" aria-hidden="true"></i> Ordenes
        </a>
        <a [routerLink]="['/admin/users']" class="list-group-item list-group-item-action">
          <i class="fa fa-users" aria-hidden="true"></i> Usuarios
        </a>
        <a [routerLink]="['/logout']" class="list-group-item list-group-item-action">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
        </a>
        <!-- <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a> -->
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h4 class="text-white h5 pr-8">ADMIN: {{usuario}}</h4>
    </div>
  </nav>
</div>



<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="#">icodeap eCommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ADMIN
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Productos</a></li>
                    <li><a class="dropdown-item" href="#">Usuarios</a></li>
                    <li><a class="dropdown-item" href="#">Ordenes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Salir</a></li>
                  </ul>
                </li>
          </ul>
      </div>
  </div>
</nav> -->


