<app-header-admin></app-header-admin>

      <!-- Page Content List Products-->
      <div class="container">

          <!-- Page Heading/Breadcrumbs -->
          <h1 class="mt-4 mb-3 display-6">
            Things Store
          </h1>

          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="">Home</a></li>
              <li class="breadcrumb-item active">Productos</li>
          </ol>

          <div class="card" >
            <div class="card-header d-flex justify-content-between">
              <h4>Productos</h4>
              <a class="btn btn-outline-primary" routerLink="/admin/products/new"> Agregar Producto</a>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Código</th>
                          <th>Nombre</th>
                          <th>Descripción</th>
                          <th>Precio</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let item of products">
                          <td>{{item.code}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.description}}</td>
                          <td>{{item.price}}</td>
                          <td><button class="btn btn-outline-secondary" [routerLink]="['/admin/products/update/', item.id]">Ver</button> </td>
                          <td><button class="btn btn-outline-danger" (click)="deleteProduct(item.id)"> <span class="mdi mdi-trash-can"></span>Eliminar</button>
                      </tr>
                  </tbody>
              </table>
              <div class="d-flex justify-content-center" *ngIf="products.length===0">
                <span class="text-muted">No hay datos que mostrar</span>
              </div>
            </div>
          </div>
      </div>
